@font-face {
    font-family: "PingFangSCRegular.ttf";
    src: url("../fonts/PingFang\ SC\ Regular.ttf");
}

body {
    font: 14px/1.5 PingFangSCRegular, ArialMT, Microsoft YaHei;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

.container {
    width: 1226px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}