.site-topbar {
    height: 40px;
    background-color: #333;
    font-size: 12px;
}

.site-topbar a {
    display: inline-block;
    color: #b0b0b0;
}

.site-topbar a:hover {
    color: #fff;

}

.topbar-nav>ul>li {
    float: left;
    line-height: 40px;
    margin-right: 15px;

}

.topbar-cart,
.topbar-info {
    float: right;
    line-height: 40px;
}

.topbar-info>a {
    margin-right: 13px;
}


.topbar-cart>a {
    background-color: #424242;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    /* 防御性 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topbar-cart>a:hover {
    color: #ff6a00;
    background-color: #fff;
}

.topbar-cart>a>em {
    margin-right: 7px;
}

.topbar-cart {
    position: relative;
}

/* topbar cart menu */
.topbar-cart .cart-menu {
    position: absolute;

    width: 316px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .1);
    text-align: center;
    overflow: hidden;
    transition: height .3s, padding .3s;
    z-index: 10;
}

.topbar-cart:hover .cart-menu {
    height: 50px;
    padding: 25px 0;
}

/* arrows */
.topbar-nav .submenu {
    position: relative;
    padding-right: 13px;
}

.topbar-nav .submenu::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-right: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    /* arrow turn */
    transform: translate(0, -4px) rotate(45deg);
    /* mouse touch */
    transition: transform .3s ease 0s;
}

.topbar-nav .submenu:hover::after {
    transform: translate(0, 0) rotate(225deg);
    border-color: #fff;
}

/* trangle */
.topbar-nav .active::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: none;
    margin-left: -6px;
    content: "";
    border: 6px solid transparent;
    border-bottom-color: #fff;
}

.topbar-nav .active:hover::before {
    display: block;
}

/* submenu list */
.submenu .submenu-list {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -52.5px;
    width: 105px;
    height: 150px;
    background-color: #fff;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .3);
    height: 0;
    overflow: hidden;
    transition: height .3s;
}


.submenu:hover .submenu-list {
    height: 150px;
    z-index: 999;
}

.submenu .submenu-list>ul>li {
    line-height: 30px;
}

.submenu .submenu-list>ul>li:hover {
    color: #ff6a00;
}

.submenu .submenu-list>ul>li img {
    margin: 0 4px 0 6px;
    vertical-align: -3px;
}

/* qrcode */
.appcode {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    width: 124px;
    /* height: 148px; */
    background-color: #fff;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 1;
    font-size: 14px;
    color: #333;
    height: 0;
    overflow: hidden;
    transition: height .3s;
    z-index: 999;
}

.submenu:hover .appcode {
    height: 148px;
}

.appcode>img {
    display: block;
    margin: 17px auto 16px;
}

/* site header */
.site-header .header-logo {
    float: left;
    margin-top: 23px;

}

.site-header .header-logo>a:active img {
    transform: scale(0.9);
}

.site-header .header-nav {
    float: left;
    margin-left: 190px;
}

.site-header .header-nav>ul>li {
    float: left;
    padding: 42px 10px;

}

.site-header .header-nav>ul>li>a {
    font-size: 16px;
    color: #333;

}

.site-header .header-search {
    float: right;
    width: 298px;
    margin-top: 12px;
}

.site-header .header-search .search-text {
    float: left;
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-right: none;
    font-size: 14px;
    color: #333;
    line-height: 50px;
    padding: 0 11px;
    box-sizing: border-box;
}

.site-header .header-search .search-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    float: left;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
}

.search-btn:hover {
    background-color: #ff6a00;
    color: #fff;
    border: 1px solid #ff6a00;
}

/* mouse touch */
.header-search:hover .search-text,
.header-search:hover .search-btn {
    background-color: #e0e0e0;
}

/* mouse click */
.header-search .search-text:focus,
.header-search .search-text:focus+.search-btn {
    border-color: #ff6a00;
}

/* focus-lider start */
.focus-slide {
    position: relative;
}

/* nav-list */
.focus-slide .category {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
    background-color: rgba(105, 101, 101, .6);
    padding-top: 19px;
    box-sizing: border-box;
    z-index: 10;
}

.focus-slide .category>ul>li {
    line-height: 42px;
}

.focus-slide .category>ul>li>a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0 23px 0 30px;
}

.focus-slide .category>ul>li>a:hover {
    background-color: #ff6a00;
}

.focus-slide .category>ul>li>a>em {
    float: right;
}

.category .categry-list {
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 460px;
    background-color: aqua;
    display: none;
    text-align: center;
    font-size: 40px;
    line-height: 460px;
}

.category>ul>li:hover .categry-list {
    display: block;
}

/* .category .xiaomi {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
    box-sizing: border-box;
}

.category .xiaomi a {
    display: flex;
    border: 1px solid #000;
    color: #000;
    align-items: center;
}

.category .xiaomi a img {
    margin-right: 10px;
}

.category .xiaomi a:hover {
    color: #ff6700;
} */


/* swipper */
.focus-slide .swiper {
    width: 1226px;
    height: 460px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* prev */
.swiper-button-prev {
    left: 244px;
    background-position: -84px 0;
}

.swiper-button-prev:hover {
    background-position: 0 0;
}

/* next */
.swiper-button-next {
    background-position: -125px 0;
}

.swiper-button-next:hover {
    background-position: -42px 0;
}

.swiper-button {
    width: 41px;
    height: 69px;
    color: transparent;
    background-image: url(../images/arrow.png);
}

/* dotted */
.swiper-pagination {
    text-align: right;
    padding-right: 34px;
    box-sizing: border-box;
}

/* recommend */
.recommend {
    width: 100%;
    height: 624px;
    background-color: #f7f7f7;
    margin: 26px 0 34px 0;
    padding-bottom: 36px;
    overflow: hidden;
}

/* banner */
.recommend .index-banner {
    width: 1226px;
    height: 120px;
    margin: 26px auto 48px;
}

/* music */
.music-con .m-title {
    text-align: center;
    font-size: 32px;
    color: #333;
}

.music-con .m-tab {
    text-align: center;
    padding: 34px 0 36px 0;

}

.music-con .m-tab a {
    font-size: 16px;
    color: #333;
    padding: 0 23px;
}

.music-con .m-tab a.active {
    color: #31c27c;
}

.music-item .music-list>li {
    width: 224px;
    float: left;
    margin-right: 26px;
}

.music-item .music-list>li:last-child {
    margin-right: 0;
}

.music-item .music-list>li>a {
    position: relative;
    width: 224px;
    height: 224px;
    display: block;
    overflow: hidden;
}

.music-list-title {
    margin: 14px 0 6px 0;
    font-size: 14px;
}

.music-list-title>a {
    color: #333;
}

.music-list-title>a:hover {
    color: #31c27c;
}

.music-item .music-list li span {
    color: #999;
}

/* shadow */
.img-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 224px;
    height: 224px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease 2.5s;
}

.music-list>li>a:hover .img-mask {
    background-color: rgba(0, 0, 0, .3)
}

.m-icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32.5px 0 0 -32.5px;
    width: 65px;
    height: 65px;
    background-image: url(../images/icon-play.png);
    opacity: 0;
    transform: scale(.1);
    transition: transform ease 1s;
}

.music-list>li>a:hover .m-icon-play {
    transform: scale(1);
    opacity: 1;
}

.music-list>li>a img {
    transition: transform ease .6s;
}

.music-list>li>a:hover img {
    transform: scale(1.5);
}

.music-item .music-list {
    display: none;
}

.music-item .music-list.current {
    display: block;
}

/* playground */
.header-title {
    float: left;
    width: 826px;
}

.header-title h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.more-products {
    float: right;
}

.more-products a {
    display: block;
    width: 118px;
    height: 42px;
    color: #000;
    border: 1px solid #b0b0b0;
    border-radius: 20px;
    line-height: 42px;
    text-align: center;
    margin-top: 12px;
}

.more-products a:hover {
    border-color: #000;
}

.playground-con {
    margin: 33px 0;
}

.playground-con .con-l {
    width: 610px;
    height: 715px;
    float: left;
    background-image: url(../images/playground-1.png);
    background-size: cover;
}

.con-m,
.con-r {
    width: 295px;
    height: 715px;
    float: left;
}

.con-m-1 {
    width: 295px;
    height: 295px;
    background-image: url(../images/playground-2.png);
    background-size: cover;
}

.con-m-2 {
    width: 295px;
    height: 400px;
    background-image: url(../images/playground-3.png);
    background-size: cover;
}

.con-r-1 {
    width: 295px;
    height: 400px;
    background-image: url(../images/playground-4.png);
    background-size: cover;
}

.con-r-2 {
    width: 295px;
    height: 295px;
    background-image: url(../images/playground-5.png);
    background-size: cover;
}

.con-l,
.con-m {
    position: relative;
    margin-right: 13px;
}

.con-l:hover .dot,
.con-m:hover .dot {
    display: block;
}


.con-m-1,
.con-r-1 {
    margin-bottom: 20px;
}

/* dot */
.dot {
    position: absolute;
    display: none;
    width: 42px;
    height: 32px;
}

.dot-1 {
    top: 249px;
    left: 248px;
}

.dot-2 {
    top: 359px;
    left: 128px;
}

.dot-3 {
    top: 460px;
    left: 71px;
}

.dot-4 {
    top: 152px;
    left: 52px;
}

.dot-5 {
    top: 599px;
    left: 80px;
}

.dot::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition: transform ease .5s;
}

.dot:hover::before {
    transform: scale(.9);
    box-shadow: 0 0 5px #fff;

}

.dot::after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform ease 0.5s;
}

.dot:hover::after {
    transform: scale(.7);
}

.dot-tips {
    position: absolute;
    display: none;
    top: -27px;
    left: 40px;
    width: 130px;
    background-color: #fff;
    padding: 10px;
}

.dot-tips span {
    font-size: 24px;
    font-weight: bold;
}

.dot-tips span i {
    font-size: 12px;
}

.dot:hover .dot-tips {
    display: block;
}

/* videos :start */
.videos {
    text-align: center;
    background-color: #f8f8f8;
    padding-bottom: 28px;
    overflow: hidden;
}

.videos h2 {
    font-size: 28px;
    color: #000;
    margin: 33px 0;
}

.videos ul li {
    float: left;
    margin-right: 6px;
    margin-bottom: 10px;
}

.videos ul li:nth-child(4n) {
    margin-right: 0px;
}

.videos ul li a {
    position: relative;
    display: block;
    background-color: #fff;
    transition: box-shadow ease .5s;
}

.videos ul li a:hover {
    box-shadow: 5px 5px 10px #ddd;
}

.videos ul li a img {
    display: block;
}

.videos p {
    height: 55px;
    font-size: 16px;
    color: #000;
    line-height: 55px;
}

.video-play {
    position: absolute;
    bottom: 70px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-image: url(../images/video-play.png);
    background-size: cover;

}

/* mask start */
.v-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 99999;
    display: none;
}

.v-mask .mask-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
}


.mask-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 20px;
}

.mask-close:hover {
    background-color: #fff;
}

/* siderbar */
.sidebar {
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 85px;
    z-index: 999;

}


.sidebar ul li {
    position: relative;
    border-bottom: 1px solid #ddd;
    width: 85px;
    height: 85px;
    background-color: #fff;
}

.sidebar ul li:last-child {
    margin-top: 20px;
}

.sidebar ul li span {
    display: block;
    width: 85px;
    height: 50px;
    font-size: 28px;
    color: #666;
    text-align: center;
    line-height: 50px;
}

.sidebar ul li p {
    font-size: 14px;
    text-align: center;
    color: #666;
}

.sidebar ul li:hover span,
.sidebar ul li:hover p {
    color: #000;
}

.sidebar ul li .kefu {
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 100px;
    background-color: red;
    display: none;
}

.sidebar ul li:hover .kefu {
    display: block;
}

/* navbar */
.nav-bar {
    position: fixed;
    top: 200px;
    left: 100px;
    width: 60px;
    height: 480px;
    z-index: 999;
    overflow: hidden;


}

.nav-bar ul li {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    transition: transform ease .5s;
}


.nav-bar ul li p {
    font-size: 17px;
    text-align: center;
    color: #FF6B05;

}

.nav-bar ul li a {
    position: absolute;
    bottom: 7px;
    left: 15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 13px;
    color: #666;
    text-align: center;
    line-height: 18px;
    padding-top: 10px;
}

.nav-bar ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #3D3D3D;
    border: none;
}

.nav-bar ul li:first-child a {
    width: 40px;
    height: 40px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;

}

.nav-bar ul li:nth-child(3) a,
.nav-bar ul li:nth-child(7) a {
    width: 60px;
    left: 0;
    bottom: 1px;
}


.nav-bar ul li:not(:first-child):hover {
    background-color: #FF6B05;
    transform-origin: bottom;
    transform: scale(1.2);

}

.nav-bar ul li:hover a,
.nav-bar ul li:hover p {
    color: #fff;
}



/* mall start*/
.mall {
    padding: 36px 0 44px 0;
}

.mall h2 {
    position: relative;
    font-size: 34px;
    color: #000;
    text-align: center;
    margin-bottom: 44px;
}

.mall h2::after {
    position: absolute;
    left: 50%;
    bottom: -12px;
    margin-left: -15px;
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c7000b
}

.mall ul li {
    position: relative;
    float: left;
    margin-right: 13px;
    margin-bottom: 20px;
    overflow: hidden;
}

.mall ul li:nth-child(3n) {
    margin-right: 0;
}

.mall ul li::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity ease .5;
    z-index: 0;

}

.mall ul li:hover::after {
    opacity: .5;
}

.mall ul li a {
    color: #fff;
    display: block;
}

.mall ul li a img {
    display: block;
    transition: transform ease .6s;
}

.mall ul li:hover a img {
    transform: scale(1.5);
}

.mall-info {
    position: absolute;
    bottom: -50px;
    left: 20px;
    z-index: 1;
    transition: bottom ease .6s;
}

.mall ul li:hover a .mall-info {
    bottom: 0px;
}

.mall-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 8px 0
}

.mall-more span {
    display: inline-block;
    font-size: 16px;
    padding: 18px 0;
}

.mall-more i {
    color: #c63108;
    font-size: 16px;
    font-weight: bold;
    transition: margin-left ease .6s;
}

.mall-more:hover i {
    margin-left: 10px;
}

/* accordion */
.accordion {
    background-color: #FAF7FA;
    padding-bottom: 40px;

}

.accordion .container {
    overflow: hidden;
}

.accordion h2 {
    text-align: center;
    padding: 51px 0 44px 0;
}

.accordion ul li {
    position: relative;
    float: left;
    display: block;
    width: 172px;
    height: 270px;
    transition: width ease .5s;
}

.accordion ul li.active {
    width: 361px;
}

.accordion ul li a {
    display: block;
    font-size: 16px;
    color: #fff;
}

.accordion ul li img {
    display: block;
}

.accordion ul li a h3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    line-height: 75px;
    font-weight: 400;
    font-size: 16px;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4) 90%,
            rgba(0, 0, 0, 0));
    text-indent: 1em;
    transition: height ease .5s;
}

.accordion ul li:hover a h3 {
    height: 75px;
}

/* pictures */
.pictures {
    position: relative;
    background-color: #FAF7FA;
    padding-bottom: 63px;
}

.pet {
    display: grid;
    grid-template-rows: 132px 100px 165px;
    grid-template-columns: 268px 233px 191px 77px 188px 265px;
    gap: 1px 1px;
    justify-content: center;
    grid-template-areas:
        "a b d d f i"
        "a b e h h i"
        "a c e h h i";
}

.pet-pic:nth-child(1) {
    grid-area: a;
}

.pet-pic:nth-child(2) {
    grid-area: b;
}

.pet-pic:nth-child(3) {
    grid-area: c;
}

.pet-pic:nth-child(4) {
    grid-area: d;
}

.pet-pic:nth-child(5) {
    grid-area: e;
}

.pet-pic:nth-child(6) {
    grid-area: f;
    background-color: orange;
}

.pet-pic:nth-child(7) {
    grid-area: h;
}


.pet-pic:nth-child(8) {
    grid-area: i;
}

.pet img {
    cursor: pointer;
    transition: transform ease .5s;
}

.pet img:hover {
    transform: scale(1.2);
}

.pictures .pic-bar {
    width: 1000px;
    height: 20px;
    position: absolute;
    bottom: 23px;
    color: #000;
    margin: 0 113px;
}

.pet-pic a {
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 132px;
}

/* footer start */
.footer-service {
    padding: 31px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer-service ul li {
    float: left;
    width: 20%;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.footer-service ul li:first-child {
    border-left: 0;
}

.footer-service ul li i {
    font-size: 24px;
    vertical-align: -2px;
}

.footer-service ul li a {
    font-size: 16px;
    color: #616161;
}

.footer-links {
    padding: 40px 0;
}

.footer-links dl {
    float: left;
    width: calc(80% / 5);
    text-align: center;
}


.footer-links dl dt {
    font-size: 14px;
    color: #424242;
    margin-bottom: 31px;
}

.footer-links dl dd {
    margin: 10px 0 0;

}

.footer-links dl dd a {
    font-size: 12px;
    color: #757575
}

.footer-links dl dd a:hover {
    color: #ff6700
}

.telephone {
    float: right;
    width: 20%;
    border-left: 1px solid #e0e0e0;
    box-sizing: border-box;
    text-align: center;
    color: #616161;
}

.telephone p {
    margin-bottom: 5px;
    font-size: 12px;
}

.telephone p.phone {
    font-size: 22px;
    color: #ff6700;
    font-weight: bold;
    line-height: 1;
}

.telephone a {
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ff6700;
    color: #ff6700;
    transition: background-color 0.5s ease;
}

.telephone a em {
    font-size: 12px;

}

.telephone a:hover {
    background-color: #ff6700;
    color: #fff;
}

.footer-copyright {
    text-align: center;
    padding-bottom: 57px;
}